@use 'index.scss';

@mixin normalize_text {
    font-size: index.$lhasa_font_size;
    line-height: normal;
    text-transform: none;
    letter-spacing: normal;
}

@mixin normalize_padding {
    padding-right: index.$lhasa_base_padding;
    padding-left: index.$lhasa_base_padding;
    padding-top: index.$lhasa_padding_minor;
    padding-bottom: index.$lhasa_padding_minor;
}

// This is a dummy
.LhasaMuiStyling {
    text-align: left;
}

.LhasaMuiStyling .MuiAccordion-root {
    background-color: index.$lhasa_background_color;
}

.LhasaMuiStyling.lhasa_dark_mode .MuiAccordion-root {
    background-color: index.$lhasa_background_color_dark;
    color: index.$lhasa_text_color_dark;
}

.LhasaMuiStyling .MuiFormGroup-root {
    margin-left: index.$lhasa_base_padding;
}

.LhasaMuiStyling .MuiButtonBase-root {
    @include normalize_text;
    @include normalize_padding;
}

.LhasaMuiStyling.lhasa_dark_mode .MuiButtonBase-root {
    color: index.$lhasa_text_color_dark;
    border-color: index.$lhasa_border_color_dark;
    // background-color: index.$lhasa_background_color_dark;
}

.LhasaMuiStyling.lhasa_dark_mode .MuiPaper-root {
    color: index.$lhasa_text_color_dark;
    background-color: index.$lhasa_background_color_dark;
}

// .LhasaMuiStyling.lhasa_dark_mode .MuiInputBase-root {
//     // background-color: index.$lhasa_background_color_dark;
//     color: index.$lhasa_text_color_dark;
// }

// .LhasaMuiStyling.lhasa_dark_mode .MuiNotchedOutline-root {
//     // background-color: index.$lhasa_background_color_dark;
//     color: index.$lhasa_text_color_dark;
// }

// .LhasaMuiStyling.lhasa_dark_mode .MuiPopover-root {
//     color: index.$lhasa_text_color_dark;
//     background-color: index.$lhasa_background_color_dark;
// }

// .LhasaMuiStyling.lhasa_dark_mode .MuiPopover-paper {
//     color: index.$lhasa_text_color_dark;
//     background-color: index.$lhasa_background_color_dark;
// }

// .LhasaMuiStyling.lhasa_dark_mode .MuiMenu-paper {
//     color: index.$lhasa_text_color_dark;
//     background-color: index.$lhasa_background_color_dark;
// }

.LhasaMuiStyling .MuiTypography-root {
    @include normalize_text;
}


.LhasaMuiStyling.lhasa_dark_mode .MuiTypography-root {
    color: index.$lhasa_text_color_dark;
}

.LhasaMuiStyling .MuiSwitch-thumb {
    margin-left: index.$lhasa_base_padding;
    margin-top: index.$lhasa_base_padding * 2;
}

// // .LhasaMuiStyling .MuiSwitch-root {

// }