@use 'sass:color';

$lhasa_background_color: rgba(119, 119, 119, 0.076);
$lhasa_text_color: black;
$lhasa_qed_value_color: color.adjust($lhasa_text_color, $saturation: +50%, $lightness: +50%, $hue: 196);
$lhasa_border_color: rgba(0, 0, 0, 0.24);
$lhasa_toolbar_border_color: rgba(184, 0, 0, 0.181);
$lhasa_base_padding: 5px;
$lhasa_padding_minor: 2px;
$lhasa_font_size: small;

.editor_canvas_container {
    border: $lhasa_border_color 1px solid;
    /* Padding here breaks relative coords */
    /* padding: 5px; */
    cursor: default;
    user-select: none;
    overflow: auto;
    width: 640px;
    height: 360px;
    // max-width: 700px;
    // min-width: 300px;
    // max-height: 500px;
    // min-height: 320px;
}

.lhasa_drawing {
    background-color: white;
    /* Removes weird, empty margin-like area */
    margin-bottom: -$lhasa_base_padding;
}

.lhasa_editor {
    font-family: sans-serif;
    background-color: $lhasa_background_color;
    color: $lhasa_text_color;
    font-size: $lhasa_font_size;
    padding: 2 * $lhasa_base_padding;
    width: fit-content;
    text-align: left;
}

// For the menus
.keybind_hint {
    color: color.adjust($lhasa_text_color, $saturation: -50%, $lightness: +40%);
    background-color: $lhasa_background_color;
    margin-left: $lhasa_base_padding;
    border-radius: $lhasa_padding_minor;
    padding: $lhasa_padding_minor;
    // font-family: monospace;
}

.lhasa_tooltip_keybind_infoblock {
    padding: $lhasa_base_padding * 2;
    margin-top: $lhasa_base_padding;
    border-radius: 4px;
    border: rgba(255, 255, 255, 0.405) 1px solid;
}

.lhasa_tooltip_keybind_info {
    margin: $lhasa_base_padding;
    // font-size: medium;
    // margin-top: $lhasa_base_padding * 8;
    border-radius: 4px;
    color: lightblue;
    background-color: color.adjust(lightblue, $alpha: -0.7);
    padding: $lhasa_base_padding;
}

.lhasa_tooltip {
    font-size: small;
    font-family: sans-serif;
    margin: $lhasa_base_padding * 2;
    // color: red !important;
}

@mixin toolbar {
    border: $lhasa_toolbar_border_color 1px solid;
    border-radius: 4px;
    padding: $lhasa_base_padding;
    /* align-items: center; */
}

@mixin panel {
    border: $lhasa_border_color 1px solid;
    border-radius: 4px;
    padding: $lhasa_base_padding;
}

.scale_panel {
    flex-grow: 1;
}

.invalid_molecules_panel,   
.display_mode_panel,
.status_display_panel {
    margin-bottom: $lhasa_base_padding;
}

.x_element_panel {
    margin-bottom: $lhasa_base_padding;
    /* display: none; */
}


@mixin horizontal_flex {
    display: flex;
    flex-direction: row;
}

@mixin vertical_flex {
    display: flex;
    flex-direction: column;
}

@mixin lhasa_disable_MUI_swelling {
    font-size: $lhasa_font_size;
    line-height: normal;
    letter-spacing: 0em;
}

@mixin center_flex {
    text-align: center;
    justify-content: center;
    /* CSS is weird */
    align-items: center;
}

@mixin horizontal_container {
    @include horizontal_flex;
    gap: $lhasa_base_padding;
}

.horizontal_container {
    @include horizontal_container;
}

.horizontal_container_centered {
    @include horizontal_container;
    @include center_flex;
}

.children_expanded > * {
    flex-grow: 1;
}

@mixin vertical_container {
    @include vertical_flex;
    gap: $lhasa_base_padding;
}

.horizontal_toolbar {
    @include toolbar;
    @include horizontal_container;
    margin-bottom: $lhasa_padding_minor;
    margin-top: $lhasa_padding_minor;
}

.vertical_toolbar {
    @include toolbar;
    @include vertical_container;
    /* margin-right: 2px;
    margin-left: 2px; */
    align-items: normal;
}

.vertical_panel {
    @include vertical_container;
    @include panel;
}

.horizontal_panel {
    @include horizontal_container;
    @include panel;
}

.lhasa_icon {
    width: 24px;
}

.tool_button {
    @include vertical_container;
    @include center_flex;
    @include lhasa_disable_MUI_swelling;
    gap: $lhasa_padding_minor;
    padding: $lhasa_base_padding;
}

.vertical_popup {
    @include vertical_container;
    @include center_flex;
    gap: $lhasa_padding_minor * 4;
    padding: $lhasa_base_padding * 4;
}

.vertical_popup_title {
    @include horizontal_container;
    font-size: larger;
    font-weight: bold;
    border-bottom: color.adjust($lhasa_toolbar_border_color, $saturation: +90%, $lightness: -0%, $alpha: +0.7) 2px solid;
    margin-bottom: $lhasa_base_padding;
    // border-radius: 4px;
    // padding: $lhasa_base_padding;
    flex-grow: 1;
    justify-content: center;
    align-self: normal;
}

.smiles_display {
    padding: $lhasa_base_padding;
    font-family: monospace;
    margin-bottom: $lhasa_base_padding * 2;
}

.scale_display {
    flex-grow: 1;
    margin-left: $lhasa_base_padding * 4;
}

.status_display_panel,
.qed_panel {
    padding: 2 * $lhasa_base_padding;
    margin-top: $lhasa_base_padding;
}

.qed_property_value {
    color: $lhasa_qed_value_color;
    margin-left: $lhasa_padding_minor;
    font-weight: bold;
}

.qed_property_label {
    font-weight: bolder;
}

.lhasa_editor input {
    font-family: sans-serif;
    background-color: $lhasa_background_color;
    color: $lhasa_text_color;
    font-size: $lhasa_font_size;
    border-style: ridge;
}

.smiles_input {
    flex-grow: 1;
}

.lhasa_footer {
    margin-top: 4 * $lhasa_base_padding;
}

.pre_render_message {
    color: $lhasa_text_color;
    font-weight: bold;
    font-size: 200%;
    background-color: $lhasa_background_color;
}

.text_measurement_worker_div {
    /* Cancels out the gap in the owning container 
    so that we get nice alignment */
    margin-left: -$lhasa_base_padding;
}