@use 'sass:color';

$lhasa_background_color: rgb(255, 255, 255);
$lhasa_text_color: black;
$lhasa_border_color: rgb(161, 161, 161);
$lhasa_toolbar_border_color: rgb(193, 158, 158);
$lhasa_error_color: red;
$lhasa_base_padding: 5px;
$lhasa_padding_minor: 2px;
$lhasa_font_size: small;

.editor_canvas_container {
    border: $lhasa_border_color 1px solid;
    /* Padding here breaks relative coords */
    /* padding: 5px; */
    cursor: default;
    user-select: none;
    overflow: auto;
    max-width: 700px;
    min-width: 300px;
    max-height: 500px;
    min-height: 320px;
}

.lhasa_drawing {
    background-color: white;
    /* Removes weird, empty margin-like area */
    margin-bottom: -$lhasa_base_padding;
}

.lhasa_editor {
    font-family: sans-serif;
    background-color: $lhasa_background_color;
    color: $lhasa_text_color;
    font-size: $lhasa_font_size;
    padding: 2 * $lhasa_base_padding;
    width: fit-content;
    text-align: left;
}

@mixin toolbar {
    border: $lhasa_toolbar_border_color 1px solid;
    padding: $lhasa_base_padding;
    /* align-items: center; */
}

@mixin panel {
    border: $lhasa_border_color 1px solid;
    padding: $lhasa_base_padding;
}

.invalid_molecules_panel, 
.scale_panel,  
.display_mode_panel,
.status_display_panel {
    margin-bottom: $lhasa_base_padding;
}

.smiles_display_outer {
    margin-bottom: $lhasa_base_padding;
    flex-grow: 1;
}

.x_element_panel {
    margin-bottom: $lhasa_base_padding;
    /* display: none; */
}


.error_display {
    margin-bottom: $lhasa_base_padding;
    color: $lhasa_error_color;
    font-weight: bold;
    border: $lhasa_error_color 1px solid;
    padding: $lhasa_base_padding;
}


@mixin horizontal_flex {
    display: flex;
    flex-direction: row;
}

@mixin vertical_flex {
    display: flex;
    flex-direction: column;
}

@mixin lhasa_disable_MUI_swelling {
    font-size: $lhasa_font_size;
    line-height: normal;
    letter-spacing: 0em;
}

@mixin center_vertical_flex {
    text-align: center;
    justify-content: center;
    /* CSS is weird */
    align-items: center;
}

@mixin horizontal_container {
    @include horizontal_flex;
    gap: $lhasa_base_padding;
}

.horizontal_container {
    @include horizontal_container;
}

@mixin vertical_container {
    @include vertical_flex;
    gap: $lhasa_base_padding;
}

.horizontal_toolbar {
    @include toolbar;
    @include horizontal_container;
    margin-bottom: $lhasa_padding_minor;
    margin-top: $lhasa_padding_minor;
}

.vertical_toolbar {
    @include toolbar;
    @include vertical_container;
    /* margin-right: 2px;
    margin-left: 2px; */
    align-items: normal;
}

.vertical_panel {
    @include vertical_container;
    @include panel;
}

.horizontal_panel {
    @include horizontal_container;
    @include panel;
}

.lhasa_icon {
    width: 24px;
}

.tool_button {
    @include vertical_container;
    @include center_vertical_flex;
    @include lhasa_disable_MUI_swelling;
    gap: $lhasa_padding_minor;
    padding: $lhasa_base_padding;
}

.smiles_display {
    padding: $lhasa_base_padding;
    font-family: monospace;
}

.scale_display {
    padding: $lhasa_base_padding;
}

.status_display_panel {
    padding: 2 * $lhasa_base_padding;
    margin-top: $lhasa_base_padding;
}

.lhasa_editor input {
    font-family: sans-serif;
    background-color: $lhasa_background_color;
    color: $lhasa_text_color;
    font-size: $lhasa_font_size;
    border-style: ridge;
}

.smiles_input {
    flex-grow: 1;
}

.lhasa_footer {
    margin-top: 4 * $lhasa_base_padding;
}

.pre_render_message {
    color: $lhasa_text_color;
    font-weight: bold;
    font-size: 200%;
    background-color: $lhasa_background_color;
}

.text_measurement_worker_div {
    /* Cancels out the gap in the owning container 
    so that we get nice alignment */
    margin-left: -$lhasa_base_padding;
}